{%extends 'base_admin.html'%}
{%block title%}Admin | Notifications{%endblock title%}

{%block content%}
    <body class="skin-blue">
        <!-- header logo: style can be found in header.less -->
        
        <!---Admin_header -->
        {%include 'admin_header.html'%}
        <!-- Admin_header-->

        <div class="wrapper row-offcanvas row-offcanvas-left">
            

            <!-- admin left side menu -->

            {%include 'admin_leftside_menu.html'%}

             <!-- admin left side menu -->

            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Dashboard
                        <small>Control panel</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="{%url 'admin_panel'%}"><i class="fa fa-dashboard"></i>Home</a></li>
                        <li class="active">Notifications</li>
                    </ol>
                </section>

                <!-- Main content -->

                <section class="content">
                   <div class="row">
                        <div class="col-md-12">
                            <div class="box box-danger">
                                <div class="box-header">
                                    <i class="fa fa-warning"></i>
                                    <h3 class="box-title">Notifications</h3>
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                   
                                   {%if pending_approvals%}
                                   {%for pending_approval in pending_approvals%}
                                    <div class="alert alert-warning alert-dismissable">
                                        <i class="fa fa-warning"></i>
                                      
                                       <b> <a href="{% url 'admin_view_job' pending_approval.id %}">{{pending_approval.jobTitle}}</a> From The Company :{{pending_approval.companyName}}.</b> 
                                      <a href="{% url 'job_approval' pending_approval.id %}"> <button class="btn btn-success">Approve</button> </a>
                                       <a href="{%url 'del_job_approval' pending_approval.id%}" onClick="return confirmPost();"><button class="btn btn-warning">Delete</button></a>
                                    
                                    </div>
                                    {%endfor%}
                                   {%endif%}

                                   <!--Paginator starts here -->
                                <div align="right">
                                   <ul class="pagination">
                                        {%if pending_approvals.has_previous%}                                    
                                        <li class="prev"><a href="?page={{pending_approvals.previous_page_number}}">← Previous</a></li>
                                        {%endif%}
                                        <!--<li class="active"><a href="#">1</a></li>-->

                                        {%for pg in pending_approvals.paginator.page_range%}
                                            {% if pending_approvals.number == pg %}
                                            <li class="active"><a href="?page={{pg}}">{{pg}}</a></li>
                                            {%else%}
                                            <li><a href="?page={{pg}}">{{pg}}</a></li>
                                            {%endif%}
                                        {%endfor%}


                                        {%if pending_approvals.has_next%} 
                                        <li class="next"><a href="?page={{pending_approvals.next_page_number}}">Next → </a></li>
                                        {%endif%}
                                    </ul>
                                </div>
                                    <!--Paginator starts ends here -->
                                        
                              
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div><!-- /.col -->

                        
                    </div> <!-- /.row -->

                </section>
                <!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->

        <!-- add new calendar event modal -->


       <!-- footer -->
       
       <!-- footer -->

       <!--all table re
        {%include 'admin_data_table.html'%}
        all table related js -->


</body>
</html>
<script type="text/javascript" src="/static/admin_panel/js/delete_conf.js"></script>

{%endblock content%}