<!--Delete Confirmation-->
<script LANGUAGE="JavaScript">
<!--
function confirmPost()
{
var agree=confirm("Are you sure you want to delete?");
if (agree)
return true ;
else
return false ;
}
// -->
</script>
<!--Delete Confirmation-->


<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>



<script type="text/javascript">
    function validateText(id)
    {
        if ($("#"+id).val()==null || $("#"+id).val()=="" ||($("#"+id).val()).length<3)
            {
                var div=$("#"+id).closest("div");
                div.addClass("has-error has-feedback");
                div.append('<span id="glypcn'+id+'" class="glyphicon glyphicon-remove form-control-feedback"></span>');

                return false;
            }

        else{
            var div=$("#"+id).closest("div");
            div.removeClass("has-error")
            div.addClass("has-success has-feedback");
            $("#glypcn"+id).remove();
            div.append('<span id="glypcn'+id+'" class="glyphicon glyphicon-ok form-control-feedback"></span>');
            return true;
        }
    }
    $.noConflict();
    jQuery(document).ready(function(){

        $("#add_cat_btn").click(function(){

           if(!validateText("cat_name")){
            return false;
           }
           $("form#addcatform").submit();

        });
    });

</script>




 <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <!-- Ionicons -->
        <link href="//code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet" type="text/css" />
        <!-- DATA TABLES -->
        <link href="/static/admin_panel/css/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
        <!-- Theme style -->
        <link href="/static/admin_panel/css/AdminLTE.css" rel="stylesheet" type="text/css" />


<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" type="text/javascript"></script>
        <!-- DATA TABES SCRIPT -->
        <script src="/static/admin_panel/js/plugins/datatables/jquery.dataTables.js" type="text/javascript"></script>
        <script src="/static/admin_panel/js/plugins/datatables/dataTables.bootstrap.js" type="text/javascript"></script>
        <!-- AdminLTE App -->
        <script src="/static/admin_panel/js/AdminLTE/app.js" type="text/javascript"></script>
        <!-- AdminLTE for demo purposes -->
       
        <!--
        <script src="/static/admin_panel/js/AdminLTE/demo.js" type="text/javascript"></script>
       -->


       <!-- page script -->
        <script type="text/javascript">

            $(function() {
               
                $('#example2').dataTable({
                    "bPaginate": true,
                    "bLengthChange": true,
                    "bFilter": true,
                    "bSort": true,
                    "bInfo": true,
                    "bAutoWidth": false
                });
            });
        </script>
<!-- Ck Editor -->
<script src="/static/js/ckeditor_custom/ckeditor.js"></script>
    <script type="text/javascript">
        $(function() {
                // Replace the <textarea id="editor1"> with a CKEditor
                // instance, using default configuration.
                CKEDITOR.replace('editor1');
                
             
            });
    </script>

