<header class="header">
            <a href="{%url 'admin_panel'%}" class="logo">
                <!-- Add the class icon to your logo image or logo icon to add the margining -->
                CareerBazzar
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                
                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                     
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-warning"></i>
                                
                               {%ifequal count_notifications 0 %} {%else%}<span class="label label-warning">
                               <span class="result">{{count_notifications}}</span>{%endifequal%}</span>
 
                            </a>
                            <ul class="dropdown-menu">
                               {%ifequal count_notifications 0 %} {%else%}<li class="header">You have 
                               <span class="result">{{count_notifications}}</span> notifications</li>{%endifequal%}
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <a href="{% url 'notifications'%}">
                                                {%ifequal count_notifications 0 %} {%else%}<i class="ion ion-ios7-people info"></i> 
                                                <span class="result">{{count_notifications}} </span>
                                                new jobs waiting for approval
                                            </a>{%endifequal%}
                                        </li>
                                        
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users warning"></i> 5 new members joined
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <i class="ion ion-ios7-person danger"></i> You changed your username
                                            </a>
                                        </li>
                                        <!---
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                                -->
                                    </ul>
                                 </li>
                            </ul>
                        </li>
                        <!-- Tasks: style can be found in dropdown.less -->
                        
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-user"></i>
                                <span>{{ session_name }} <i class="caret"></i></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header bg-light-blue">
                                    <img src="/static/admin_panel/img/avatar3.png" class="img-circle" alt="User Image" />
                                    <p>
                                        {{ session_name }}
                                        <small>Member since Nov. 2012</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="{% url 'home' %}" class="btn btn-default btn-flat">Home</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="{% url 'logout'%}" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- Loading Notifications-->
            <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
            <script type="text/javascript">
            
            
            $(document).ready(function() {
                $.ajaxSetup({ cache: false }); // This part addresses an IE bug.  without it, IE will only load the first number and will never refresh
                setInterval(function() {
                $('.result').load('/careerbazzar/siteadmin/ajax_notifications/');
                }, 30000); // the "3000" here refers to the time to refresh the div.  it is in milliseconds. 
            });

            $.ajax({
                url:'/careerbazzar/siteadmin/ajax_notifications/',
                success:function(data){
                    $('.result').html(data);
                }
            });
            </script>
            <!--Loading Notifications-->