{%extends 'base_admin.html'%}
{%block title%}Edit Job Location{%endblock title%}

{%block content%}
    <body class="skin-blue">
        <!-- header logo: style can be found in header.less -->
        
        <!---Admin_header -->
        {%include 'admin_header.html'%}
        <!-- Admin_header-->

        <div class="wrapper row-offcanvas row-offcanvas-left">
            

            <!-- admin left side menu -->

            {%include 'admin_leftside_menu.html'%}

             <!-- admin left side menu -->

            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Dashboard
                        <small>Control panel</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="{%url 'admin_panel'%}"><i class="fa fa-dashboard"></i>Home</a></li>
                        <li class="active">Edit Job Location</li>
                    </ol>
                </section>

                <!-- Main content -->

                 <section class="content">
                    <div class="row">
                        <!-- left column -->
                        <div class="col-md-12">
                            <!-- general form elements -->
                            <div class="box box-primary">
                                <div class="box-header">
                                    <h3 class="box-title">Edit Job Location</h3>
                                </div><!-- /.box-header -->


                                <!-- form start -->
                                <form role="form" action="{% url 'edit_job_location' query_loc.id%}" id="addcatform" method="post" >{%csrf_token%}
                                    <div class="box-body">
                                          <div class="form-group ">
                                            {%if location_name_error%}
                                            <div class="form-group has-error">
                                             <label class="control-label" for="cat_name"><i class="fa fa-check"></i>Required</label>
                                             </div>
                                            {%elif length_error%}
                                            <div class="form-group has-error">
                                           <label class="control-label" for="cat_name"><i class="fa fa-check"></i>Minimum 3 Character Required</label>
                                           </div>
                                             {%elif match_error%}
                                             <div class="form-group has-error">
                                            <label class="control-label" for="cat_name"><i class="fa fa-remove"></i>This name is already in database</label>
                                            </div>

                                            {%elif match_location_error%}

                                             <div class="form-group has-warning">
                                            <label class="control-label" for="cat_name"><i class="fa fa-warning"></i> No Changes made</label>
                                            </div>


                                            {%elif  add_success%}
                                            <div class="form-group has-success">
                                            <label class="control-label" for="cat_name"><i class="fa fa-check"></i>Successfully Updated</label>
                                            </div>
                                            {%endif%}
                                           
                                            <input type="text" class="form-control" id="cat_name" name="loc_name" value="{{query_loc.locationName}}" placeholder="Enter Job Location"/>
                                        </div>
                                   
                                       
                                    </div><!-- /.box-body -->

                                    <div class="box-footer">
                                        <button type="button" id="add_cat_btn" class="btn btn-success"><span class="glyphicon glyphicon-floppy-save"></span> Save Location</button>
                                    </div>
                                </form>
                            </div><!-- /.box -->

                            <!-- Form Element sizes -->
                            
                            <!-- /.box -->

                            <!-- Input addon -->
                        
                        


                        </div><!--/.col (left) -->
                        <!-- right column -->
                        <div class="col-md-12">
                            <!-- general form elements disabled -->
                            
                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title">Job Types</h3>
                                </div><!-- /.box-header -->

                                {%if del_error%}
                                <div class="form-group has-error">
                                <label class="control-label" for="cat_name"><i class="fa fa-check"></i>Failed To Delete Category</label>
                                </div>
                                {%endif%}




                                 <div class="box-body table-responsive">
                                    <table id="example2" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Location Name</th>
                                                <th>Date Created</th>
                                                <th>Date Updated</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {%if categories%}
                                        {%for category in categories%}
                                            <tr>
                                                <td>{{category.id}}</td>
                                                <td><strong>{{category.locationName}}</strong></td>
                                                <td>{{category.dateCreated}}</td>
                                                 <td>{{category.dateEdited}}</td>
                                                <td><a href="{% url 'edit_job_location' category.id%}"><i class="fa fa-edit"></i></a></td>
                                                <td><a href="{%url 'del_job_location' category.id %}" onClick="return confirmPost();"><i class="fa fa-trash"></i></a></td>
                                            </tr>
                                        {%endfor%}
                                           
                                        </tbody>
                                
                                    </table>
                                </div>

                               <!-- /.box-body -->
                                
                            </div>
                            {%endif%}


                            <!-- /.box -->
                        </div><!--/.col (right) -->

               

                    </div>   <!-- /.row -->
                </section>
                <!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->

        <!-- add new calendar event modal -->


       <!-- footer -->
       
       <!-- footer -->

       <!--all table related js -->
        {%include 'admin_data_table.html'%}
        <!--all table related js -->


</body>
</html>


{%endblock content%}