          
              <hr>

              <form class="form" action="{% url 'edit_eprofile' session_name %}" method="post" enctype="multipart/form-data" id="registrationForm"> {% csrf_token %}

                    <h3 align="center"><a href="{% url 'chpass' %}"><strong>Change Password</strong> | <a href="{% url 'daccount' %}"><strong>Delete Account</strong></a></a></h3>

                    <div class="form-group">
                        <div class="col-sm-6">
                          <label for="cname"><h4>Company Name</h4></label>
                          <input type="text" class="form-control" name="cname" id="cname" value="{{ pro.companyName }}" required autofocus >
                        </div>
                    </div>

                    <div class="form-group"> 
                        <div class="col-sm-6">
                            <label for="website"><h4>Company Website</h4></label>
                            {% if pro.companyWebsite %}
                            <input type="text" class="form-control" name="website" id="website" value="{{ pro.companyWebsite }}" >
                            {% else %}
                            <input type="text" class="form-control" name="website" id="website" >
                            {% endif %}
                        </div>
                    </div>
          
                    <div class="form-group">   
                        <div class="col-sm-6">
                            <label for="email"><h4>Company Email</h4></label>
                            <input type="email" class="form-control" name="email" id="email" value="{{ pro.companyEmail }}" required >
                        </div>
                    </div>

                    <div class="form-group">  
                        <div class="col-sm-6">
                          <label for="logo"><h4>Change Company Logo</h4></label>
                          {% if pro.companyLogo %}
                            <input type="file" class="form-control" name="logo" id="logo" value="{{ pro.companyLogo.url }}">
                          {% else %}
                            <input type="file" class="form-control" name="logo" id="logo">
                          {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-6">
                            <label for="contact"><h4>Contact Number</h4></label>
                            {% if pro.contactNo %}
                                <input type="text" class="form-control" name="contact" id="contact" value="{{ pro.contactNo }}" required >
                            {% else %}
                                <input type="text" class="form-control" name="contact" id="contact" required >
                            {% endif%}
                        </div>
                    </div>

                    <div class="form-group">    
                        <div class="col-sm-6">
                            <label for="address"><h4>Company Address</h4></label>
                            {% if pro.companyAddress %}
                                <input type="text" class="form-control" name="address" id="address" value="{{ pro.companyAddress }}" required >
                            {% else %}
                                <input type="text" class="form-control" name="address" id="address" required >
                            {% endif%}
                        </div>
                    </div>

                    <div class="form-group"> 
                        <div class="col-sm-6">
                            <label for="fax"><h4>Fax Address</h4></label>
                            {% if pro.companyFax %}
                                <input type="text" class="form-control" name="fax" id="fax" value="{{ pro.companyFax }}" >
                            {% else %}
                                <input type="text" class="form-control" name="fax" id="fax" >
                            {% endif%}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-6">
                            <label for="category"><h4>Company Type</h4></label>
                            <br />
                            {% if pro.companyCategory %}
                            <select class="form-control" name='category'>
                                <option>{{ pro.companyCategory }}</option>
                                {% for type in typename %}
                                    <option>{{ type.typeName }}</option>
                                {% endfor %}
                            </select>
                                
                            {% else %}
                            <select class="form-control" name='category'>
                                {% for type in typename %}
                                    <option>{{ type.typeName }}</option>
                                {% endfor %}
                            </select>
                            {% endif%}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="description"><h4>Company Description</h4></label>
                            {% if pro.description %}
                            <textarea class="form-control" id="description" name="description" >{{ pro.description|safe }}</textarea>
                            {% else %}
                            <textarea class="form-control" id="description" name="description" ></textarea>
                            {% endif %}
                        </div>
                    </div>

                    <input type="hidden" class="form-control" name="username"  value="{{ pro.cUserName }}" >

                    <br />
                    <div class="form-group">

                        <div class="col-sm-12">
                            <br>
                            <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                            <button class="btn btn-lg btn-warning" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                        </div>

                    </div>

              </form>

    <script src="/static/js/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        CKEDITOR.replace( 'description' );
    </script>