{% extends "base.html" %}

{% block title %}invalid_login{% endblock title %}

{% block content %}

    <!-- Invalid Login Message
    ================================================== -->
	
    <div style="padding: 7%">
        <div class="jumbotron">
            <h2 align="center">
                "Invalid Email/Password Combination. Please Try Again."
            </h2>
        </div>
    </div> <!-- /container -->

{% endblock content %}