{% extends "base.html" %}
{% block title %}Privacy Policy{% endblock title %}
{% block content %}
	<div class="panel" style="padding-top: 30px; padding-bottom: 30px">
		{% for item in policy %}
			<table class="table">
				<tbody>
					<tr>
						<td>{{ item.privacyPolicy|safe }}</td>
					</tr>
				</tbody>
			</table>
		{% endfor %}
	</div>
{% endblock content %}