<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{%block title%}Admin Panel{%endblock%}</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <!-- Ionicons -->
        <link href="//code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet" type="text/css" />
        <!-- Morris chart -->
        <link href="/static/admin_panel/css/morris/morris.css" rel="stylesheet" type="text/css" />
        <!-- jvectormap -->
        <link href="/static/admin_panel/css/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
        <!-- Date Picker -->
        <link href="/static/admin_panel/css/datepicker/datepicker3.css" rel="stylesheet" type="text/css" />
        <!-- Daterange picker -->
        <link href="/static/admin_panel/css/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
        <!-- bootstrap wysihtml5 - text editor -->
        <link href="/static/admin_panel/css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" />
        <!-- Theme style -->
        <link href="/static/admin_panel/css/AdminLTE.css" rel="stylesheet" type="text/css" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>

    {%block content%}{%endblock content%}
    <body class="skin-blue">
        <!-- header logo: style can be found in header.less -->
        
        <!---Admin_header -->
        {%include 'admin_header.html'%}
        <!-- Admin_header-->

        <div class="wrapper row-offcanvas row-offcanvas-left">
            

            <!-- admin left side menu -->

            {%include 'admin_leftside_menu.html'%}

             <!-- admin left side menu -->

            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Dashboard
                        <small>Control panel</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="{%url 'admin_panel'%}"><i class="fa fa-dashboard"></i>Home</a></li>
                        <li class="active">Add Article Category</li>
                    </ol>
                </section>

                <!-- Main content -->

                 <section class="content">
                    <div class="row">
                        <!-- left column -->
                        <div class="col-md-12">
                            <!-- general form elements -->
                            <div class="box box-primary">
                                <div class="box-header">
                                    <h3 class="box-title">Add Article Category</h3>
                                </div><!-- /.box-header -->


                                <!-- form start -->
                                <form role="form" action="{%url 'add_article_category'%}" id="addcatform" method="post" >{%csrf_token%}
                                    <div class="box-body">
                                          <div class="form-group ">


                                            {%if cat_name_error%}
                                            <div class="form-group has-error">
                                             <label class="control-label" for="cat_name"><i class="fa fa-check"></i>Required</label>
                                             </div>
                                            {%elif length_error%}
                                            <div class="form-group has-error">
                                           <label class="control-label" for="cat_name"><i class="fa fa-check"></i>Minimum 3 Character Required</label>
                                           </div>
                                             {%elif match_error%}
                                             <div class="form-group has-error">
                                            <label class="control-label" for="cat_name"><i class="fa fa-remove"></i>This name is already in database</label>
                                            </div>
                                            {%elif  add_success%}
                                            <div class="form-group has-success">
                                            <label class="control-label" for="cat_name"><i class="fa fa-check"></i>Successfully Created</label>
                                            </div>
                                            {%endif%}
                                           
                                            <input type="text" class="form-control" id="cat_name" name="art_cat_name"placeholder="Enter Article Category"/>
                                        </div>
                                   
                                       
                                    </div><!-- /.box-body -->

                                    <div class="box-footer">
                                        <button type="button" id="add_cat_btn" class="btn btn-primary">Add Article Category</button>
                                    </div>
                                </form>
                            </div><!-- /.box -->

                            <!-- Form Element sizes -->
                            
                            <!-- /.box -->

                            <!-- Input addon -->
                        
                        


                        </div><!--/.col (left) -->
                        <!-- right column -->
                        <div class="col-md-12">
                            <!-- general form elements disabled -->
                            
                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title">Job Types</h3>
                                </div><!-- /.box-header -->

                                {%if del_error%}
                                <div class="form-group has-error">
                                <label class="control-label" for="cat_name"><i class="fa fa-check"></i>Failed To Delete Category</label>
                                </div>
                                {%endif%}




                                 <div class="box-body table-responsive">
                                    <table id="example2" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Category Name</th>
                                                <th>Date Created</th>
                                               
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {%if categories%}
                                        {%for category in categories%}
                                            <tr>
                                                <td>{{category.id}}</td>
                                                <td><strong>{{category.category}}</strong></td>
                                                <td>{{category.created}}</td>
                                                 
                                                <td><a href="{%url 'edit_art_category' category.id%}"><i class="fa fa-edit"></i></a></td>
                                                <td><a href="{%url 'del_art_category' category.id%}" onClick="return confirmPost();"><i class="fa fa-trash"></i></a></td>
                                            </tr>
                                        {%endfor%}
                                           
                                        </tbody>
                                
                                    </table>
                                </div>

                               <!-- /.box-body -->
                                
                            </div>
                            {%endif%}


                            <!-- /.box -->
                        </div><!--/.col (right) -->

               

                    </div>   <!-- /.row -->
                </section>
                <!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->

        <!-- add new calendar event modal -->


       <!-- footer -->
       
       <!-- footer -->

       <!--all table related js -->
        {%include 'admin_data_table.html'%}
        <!--all table related js -->


</body>
</html>

